.post {
  background-color: var(--gray-800);

  padding: 2.5rem;

  border-radius: 0.5rem;
}

.post + .post {
  margin-top: 2rem;
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post > header time {
  color: var(--gray-400);

  font-size: 0.875rem;
}

.content {
  color: var(--gray-300);

  margin-top: 1.5rem;

  line-height: 1.6;
}

.content p {
  margin-top: 1rem;
}

.content p a {
  color: var(--green-500);

  font-weight: bold;
  text-decoration: none;
}

.content p a:hover {
  color: var(--green-300);

  transition: color 0.1s;
}
