.avatar {
  width: 3rem;
  height: 3rem;

  border-radius: 0.5rem;

  object-fit: cover;
}

.avatarWithBorder {
  /**
  * calculate a avatar width and height based on initial 3rem + outline + border to maintain
  * picture original size
  */
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);

  border-radius: 0.5rem;

  outline: 2px solid var(--green-500);
  border: 4px solid var(--gray-800);

  object-fit: cover;
}
